<div id="mainDiv" tabindex="0" ng-controller="hafriyatdokumlistCtrl" class="hbox hbox-auto-xs bg-ligh"
  style="width: 99.5% !important" ng-init="
app.settings.asideFolded = true; 
app.settings.asideDock = true;
app.settings.container = false;
app.settings.hideFooter = true;
app.hideFooter = true;
app.hideAside = true">
  <div class="col item">
    <div class="wrapper-xs">
      <div class="panel panel-danger m-b-xxs">
        <div class="panel-body wrapper-xs">
          <div class="row">
            <div class="col-md-8">
              <div class="row m-b">
                <div class="col-sm-12">
                  <select kendo-multi-select k-options="selectOptionsFirma" k-on-change="Filter()"
                    k-ng-model="filtre.FirmaId" style="width: 100%"></select>
                </div>
              </div>
              <div class="row m-b">
                <div class="col-sm-6">
                  <input name="txtBarkod" type="text" ng-model="kabul.DepolamaAlaniAdi" disabled
                    class="form-control input-md" />
                </div>

                <div class="col-sm-6">
                  <select kendo-multi-select k-rebind="filtre.DepolamaAlanId" k-options="selectOptionsSaha"
                    k-on-change="Filter()" k-ng-model="filtre.DepolamaAlaniSahaId" style="width: 100%"></select>
                </div>
              </div>
              <div class="row m-b">
                <div class="col-sm-6">
                  <input kendo-date-picker k-on-change="Filter()" k-ng-model="filtre.BasTarih"
                    k-parse-formats="['yyyy-MM-ddTHH:mm:sszzz']" style="width: 100%" />
                </div>

                <div class="col-sm-6">
                  <input kendo-date-picker k-on-change="Filter()" k-ng-model="filtre.BitTarih"
                    k-parse-formats="['yyyy-MM-ddTHH:mm:sszzz']" style="width: 100%" />
                </div>
              </div>
            </div>

            <div class="col-md-2 text-center m-r-n b-r bg-green-gradient padder-v">
              <span class="text-white font-thin h3 block">{{Total_Tutar | currency : "₺"}}</span>
              <span class="text-xs">Toplam Tutar (₺)</span>
            </div>

            <div class="col-md-2 text-center m-l-n b-l bg-green-gradient padder-v">
              <span class="text-white font-thin h3 block">{{Total_Arac}}</span>
              <span class="text-xs">Adet</span>
            </div>
            <div class="col-md-4">
              <br />
              <div id="pr_download_div" class="progress" style="width: 95%;">
                <div id="pr_download" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span id="pr_download_text"></span>
                </div>
              </div>

            </div>


          </div>


          <div class="bg-red-gradient wrapper-xs  r-2x" ng-show="uyari">
            <i class="glyphicon glyphicon-info-sign text-2x"></i> <span class="text-2x">{{uyari}}</span>
          </div>

        </div>
      </div>
      <div data-kendo-grid id="grid" options="mainGridOptions"></div>
    </div>
  </div>
  <div class="col item w-xxl b-l">
    <div class="wrapper-xs">
      <div class="panel">
        <div class="panel-heading m-n wrapper-xs">
          <!-- <h3>İŞLEMLER</h3> -->
          <ul class="list-group no-radius m-b-n-sm">

            <li class="list-group-item" ng-if="!online">
              <i class="fa fa-wifi fa-fw"></i>
              <span class="text-black">OFFLINE</span>
            </li>
            <li class="list-group-item" ng-if="online">
              <i class="fa fa-wifi fa-fw"></i>
              <span class="text-black">ONLINE</span>
            </li>
            <a class="list-group-item" ng-click="BariyerAcModal()">
              <i class="fa fa-openid fa-fw"></i>
              <span class="text-black">Bariyer Aç</span>
            </a>
            <!-- <a class="list-group-item" ng-click="Restart()">
              <i class="fa fa-star fa-fw"></i>
              <span class="text-black"> Yeniden Başlat</span>
            </a> -->
            <a href="" class="list-group-item" ng-click="HgsEtiketi()">
              <i class="fa fa-star fa-adn"></i>
              <span class="text-black">HGS & Dara Değişimi</span>
            </a>
            <a href="" class="list-group-item" ng-click="AracEdit()">
              <i class="fa fa-car fa-adn"></i>
              <span class="text-black">Çöp Aracı Ekle</span>
            </a>
            <a ng-show="!isOnlyEntered" href="" class="list-group-item" ng-click="OnlyEntered()">
              <i class="fa fa-car fa-adn"></i>
              <span class="text-black">Çıkışı Yapılmayan(Sanayi)</span>
            </a>
            <a ng-show="isOnlyEntered" href="" class="list-group-item bg-red-gradient" ng-click="OnlyEntered()">
              <i class=" text-white fa fa-car fa-adn"></i>
              <span class="text-white">Çıkışı Yapılmayan(Sanayi)</span>
            </a>


            <a class="list-group-item" ng-click="kabul.Temizle()">
              <i class="fa fa-close fa-fw"></i>
              <span class="text-black">Temizle</span>
            </a>

          </ul>
        </div>
        <div class="panel-body wrapper-xs">
          <form name="myForm" class="form-horizontal">
            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label text-danger">OKUNAN</label>
              <div class="col-md-8">
                <input type="text" placeholder="Okunan" ng-model="readBarkod" disabled class="form-control input-md" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label text-danger">TÜR</label>
              <div class="col-md-8">
                <input type="text" placeholder="Barkod okutunuz" ng-model="kabul.Tur" disabled
                  class="form-control input-md" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label text-danger">BARKOD</label>
              <div class="col-md-8">
                <input type="text" placeholder="Barkod okutunuz" ng-model="kabul.BarkodNo" disabled
                  class="form-control input-md" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label text-danger">BELGE NO</label>
              <div class="col-md-8">
                <input type="text" placeholder="Barkod okutunuz" ng-model="kabul.BelgeNo" disabled
                  class="form-control input-md" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label text-danger">OGS</label>
              <div class="col-md-8">
                <input type="text" placeholder="Plaka seçiniz" disabled class="form-control input-md"
                  ng-model="kabul.Ogs" />
              </div>
            </div>
            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">BELGE MİK.</label>
              <div class="col-md-8">
                <input type="text" disabled class="form-control input-md"
                  ng-model="kabul.Response.TasinacakAtikMiktari" />
              </div>
            </div>
            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">DÖKÜM MİK.</label>
              <div class="col-md-8">
                <input type="text" disabled class="form-control input-md" ng-model="kabul.Response.DokumMiktari" />
              </div>
            </div>
            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">KALAN MİK.</label>
              <div class="col-md-8">
                <input type="text" disabled class="form-control input-md" ng-model="kabul.Response.KalanMiktar" />
              </div>
            </div>
            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">FİRMA BAK.</label>
              <div class="col-md-8">
                <input type="text" disabled class="form-control input-md" ng-model="kabul.Response.GuncelBakiye" />
              </div>
            </div>
            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">DEP.ALANI</label>
              <div class="col-md-8">
                <input disabled class="form-control input-md" ng-model="kabul.Response.DepolamaAlani"
                  style="width: 100%" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <small class="text-muted m-l-md">{{AntenDurumu}}</small>
              <progressbar animate="true" value="iOgs" type="succes" class="progress-xs">
              </progressbar>

              <div class="col-md-4">
                <button class="btn btn-info" type="button" ng-if="kabul.Tur!='NAKİT DÖKÜM'" ng-disabled="kabul.BelgeNo"
                  ng-click="PlakaSec()">
                  PLAKA.NO
                </button>

                <button class="btn btn-info" type="button" ng-if="kabul.Tur=='NAKİT DÖKÜM'" ng-click="PlakaSec()">
                  PLAKA.NO
                </button>
              </div>
              <div class="col-md-8">
                <input type="text" placeholder="Plaka seçiniz" disabled class="form-control input-md"
                  ng-model="kabul.PlakaNo" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">ARAÇ CİNSİ</label>
              <div class="col-md-8">
                <input type="text" placeholder="Plaka seçiniz" disabled class="form-control input-md"
                  ng-model="kabul.AracCinsi" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <progressbar max="100" animate="true" value="i" type="danger" class="progress-striped active progress-xl">
                <span style="white-space: nowrap">{{ i + "% " + tempGelenTonaj}} KG</span>
              </progressbar>

              <label class="col-md-4 control-label text-danger"> <span class="label text-base bg-danger pos-rlt "><i
                    class="arrow right arrow-danger"></i>
                  TONAJ</span></label>
              <div class="col-md-8 m-r-n">
                <input type="text" placeholder="..." disabled ng-model="kabul.Tonaj" class="form-control input-md" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">DARA</label>
              <div class="col-md-8">
                <input type="text" disabled class="form-control input-md" ng-model="kabul.Dara" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">NET</label>
              <div class="col-md-8">
                <input type="text" disabled class="form-control input-md" ng-model="kabul.Net" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">KAPASİTE</label>
              <div class="col-md-8">
                <input type="text" disabled class="form-control input-md" ng-model="kabul.Kapasite" />
              </div>
            </div>

            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">TUTAR</label>
              <div class="col-md-8">
                <span class="form-control disabled">{{kabul.Tutar | currency : "₺"}}
                </span>
              </div>
            </div>

            <div class="line dker bg-red-100 m-b-xs"></div>

            <div class="form-group m-b-xs">
              <label class="col-md-4 control-label">FİRMA</label>
              <div class="col-md-8">
                <input type="text" disabled class="form-control input-md" ng-model="kabul.Response.FirmaAdi" />
              </div>
            </div>


            <button class="btn btn-info" type="button" ng-click="SetManuelTonaj()">
              TONAJ
            </button>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="araclarModal">
  <div class="modal-header wrapper-xs">
    <a class="close text-danger" data-dismiss="modal" ng-click="Iptal()"><i class="icon-close"></i></a>
      <h4>PLAKA SEÇİNİZ {{PlakaNo + " | (" + AracId + ")"}}</h2>
  </div>
  <div class="modal-body wrapper-xs">
    <div id="gridAraclar"></div>  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info w-full"  ng-click="Sec()" >
        <span class="text">SEÇ {{PlakaNo}}</span>
    </button>
</div>
</script>

<script type="text/ng-template" id="sahaModal">
  <div class="modal-header">
  <h4>SAHA SEÇİNİZ</h2>
      </div>

  <div class="modal-body no-padder">
      <table class="table table-bordered table-success ">
          <thead>
              <tr>
                  <th width="1%">#</th>
                  <th width="20%">SAHA ADI</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in SahaListesi" ng-class="{'bg-red-100' : item.DepolamaAlaniSahaId == DepolamaAlaniSahaId}" ng-click="setSelected(item)">
                  <td nowrap >{{$index+1}}</td>
                  <td nowrap ><strong>{{item.SahaAdi}}</strong></td>
              </tr>
          </tbody>
      </table>

  </div>

  <div class="modal-footer">

          <button type="button" class="btn btn-success w-full"  ng-click="Sec()" >
                  <span class="text">SEÇ</span>
              </button>
      </div>
</script>

<script type="text/ng-template" id="hgsModal">
  <div class="modal-header wrapper-xs">
    <a class="close text-danger" data-dismiss="modal" ng-click="Iptal()"><i class="icon-close"></i></a>
    <h4>HGS</h2>         
  
  </div>
  </div>
  <div class="modal-body wrapper-xs"> 
    <div id="gridAraclar"></div>
  </div>
  <div class="modal-footer">
    .
  </div>
</script>

<script type="text/ng-template" id="aracedit">
  <div class="modal-header wrapper-xs">
    <a class="close text-danger" data-dismiss="modal" ng-click="Iptal()"><i class="icon-close"></i></a>
    <h4>Araç Bilgileri</h4>         
  
  </div>
  <div class="modal-body wrapper-xs">
      <div class="row">
          <div class="col-sm-12 ">
            

              <form role="form">
                  <div class="form-group m-b-xs">
                      <alert type="danger" ng-show="aractakipiduyari"><i class="fa fa-exclamation"></i> {{aractakipiduyari}}</alert>
                      <alert type="danger" ng-show="plakauyari"><i class="fa fa-exclamation"></i> {{plakauyari}}</alert>
                      <div class="row">
                          <div class="col-sm-12">

                              <label>Firma</label>


                              <select kendo-combo-box
                                      required
                                      ng-disabled="firma_disabled"
                                      ng-model="arac.FirmaId"
                                      k-placeholder="'Firma seçiniz'"
                                      k-data-text-field="'FirmaAdi'"
                                      k-data-value-field="'FirmaId'"
                                      k-filter="'contains'"
                                      k-data-source="dsFirma"
                                      style="width: 100%"></select>
                          </div>
                      </div>
                  </div>

                  <div class="form-group m-b-xs">
                      <div class="row">
                          <div class="col-sm-3">
                              <label>Plaka No</label>
                              <input type="text" class="form-control text-uppercase" ng-keyup="PlakaEntry($event)" ng-model="arac.PlakaNo">
                              <span class="help-block m-b-none">Örnek : 41 ABCD 4586</span>
                          </div>
                          <div class="col-sm-3">
                              <label>Arac Takip Id <span class="text-danger" ng-show="AracTakipZorunlu">(zorunlu)</span></label>
                              <input type="text" class="form-control" ng-model="arac.AracTakipId" readonly>
                              <span class="help-block m-b-none">Otomatik bulunacak</span>
                          </div>
                          <div class="col-sm-4" ng-show="ilid==6 && arac.AracCinsiId==30">
                              <label>HGS Etiket No<span class="text-danger" ng-show="HGSEtiketNoZorunlu">(zorunlu)</span></label>
                              <input type="text" class="form-control" ng-model="arac.HGSEtiketNo" ng-change="HGSEtiketCtrl()">
                          </div>
                      </div>
                  </div>                 

                  <div class="form-group m-b-xs">
                      <div class="row">
                          <div class="col-sm-3">
                              <label>Dara</label>
                              <input type="text" class="form-control"  ng-model="arac.Dara" ng-change="onlyNumbers(arac.Dara,1)">
                          </div>

                          <div class="col-sm-3">
                              <label>Azami Yüklü  Ağırlığı</label>
                              <input type="text" class="form-control" ng-model="arac.Kapasitesi" ng-change="onlyNumbers(arac.Kapasitesi,0)">
                          </div>
                      </div>
                  </div>

                  <div class="form-group m-b-xs">
                      <label>Açıklama</label>
                      <textarea class="form-control" ng-model="arac.Aciklama"></textarea>
                  </div>

              </form>
          </div>

      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-success" ng-disabled="aractakipiduyari || plakauyari" ng-click="Kaydet()">
          <span class="text">Kaydet</span>
      </button>
      <button class="btn btn-danger" type="button" ng-click="Iptal()">Iptal</button>
  </div>
</script>

<script type="text/ng-template" id="bariyer_open">
  <div class="modal-header wrapper-xs">
    <a class="close text-danger" data-dismiss="modal" ng-click="Iptal()"><i class="icon-close"></i></a>
    <h2>Bariyer Aç</h2>   
  </div>
  <div class="modal-body wrapper-xs">
    <ul class="list-group no-radius m-b-n-sm">

      <a href="" class="list-group-item bg-light-blue-50" ng-click="OK('Giriş')">
        <i class="fa  fa-arrow-circle-o-right  text-2x"></i>
        <span class="text-black text-2x "> Giriş</span>
      </a>
      <a href="" class="list-group-item bg-light-blue-50" ng-click="OK('Çıkış')">
        <i class="fa fa-arrow-circle-o-left text-2x"></i>
        <span class="text-black text-2x"> Çıkış</span>
      </a>
      <a href="" class="list-group-item bg-light-blue-100" ng-click="OK('yan_cikis')">
        <i class="fa fa-arrow-circle-o-right  text-2x"></i>
        <span class="text-black text-2x"> Yan Çıkış</span>
      </a>
      <a href="" class="list-group-item bg-light-blue-200" ng-click="OK('')">
        <i class="fa fa-arrow-circle-o-right text-2x"></i>
        <span class="text-black text-2x"> Misafir Giriş</span>
      </a>
      <a href="" class="list-group-item bg-light-blue-200" ng-click="OK('')">
        <i class="fa fa-arrow-circle-o-left text-2x"></i>
        <span class="text-black text-2x"> Misafir Çıkış</span>
      </a>

    </ul>
    <br/>
  </div>
</script>

<style>
  .k-grid .k-header .k-grid-search {
    width: 99%;
  }
</style>