<div class="modal-over login-container" ng-controller="SigninFormController" ng-init="app.settings.container = false;">

    <div class="login-center animated fadeInUp smooth text-center bg-light lter b-white b-a b-5x padder-md text r-3x" style="margin:-400px 0 0 -200px;">

        <span class="navbar-brand block m-t  ">HAFRİYAT YÖNETİM BİLGİ SİSTEMİ</span>



        <span class="navbar-brand block text-sm" ng-bind-html="app.options.LoginHeader"></span>

        <form name="form" class="form-validation" ng-submit="login()">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" placeholder="Kullanici Adi" class="form-control no-border" ng-model="user.username" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Şifre" class="form-control no-border" ng-model="user.password" required>
                </div>

                <!--<div vc-recaptcha
                     class="g-recaptcha m-t"
                     theme="'light'"
                     key="model.key"
                     on-create="setWidgetId(widgetId)"
                     on-success="setResponse(response)"
                     on-expire="cbExpiration()"></div>-->
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled='form.$invalid'>Giriş</button>
            <!--<div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">Sifremi unuttum.</a></div>
            <div class="line line-dashed"></div>
            <p class="text-center"><small>Hesabiniz bulunmuyor mu?</small></p>
            <a ui-sref="guvenlik.signup" class="btn btn-lg btn-default btn-block">Hesap Olustur</a>-->
        </form>

        <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>

        <div class="wrapper text-center m b bg-white">
            <a href="https://itunes.apple.com/us/app/hybs/id1288497690?ls=1&mt=8">
                <img class="thumb-xl" src="/HYS/img/download.apple.png" />
            </a>
            <a href="https://play.google.com/store/apps/details?id=tr.bel.kocaeli.hybs">
                <img class="thumb-xl" src="/HYS/img/download.google.png" />
            </a>
        </div>
    </div>

    <div class="login-logo hidden-xs hidden-sm m">
        <img class="thumb-xl" src="/HYS/img/logo/logo.jpg" />
    </div>
</div>